
vendor/**/test*
vendor/**/tests*
vendor/**/Tests*


**.git
.idea
**.gitignore
**.sass-cache
composer.json

*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
readme.md
phpspec.yml

Dockerfile
docker-compose.yml
run
run.ps1
