# Mod_Autoindex
<IfModule mod_autoindex.c>
	# Prohibit viewing the contents of folders
	Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	# Turn on mod_rewrite
	RewriteEngine On

	# If it's a folder or file, open it / him
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# Otherwise, redirect to index.php
	RewriteRule . index.php
</IfModule>